/* src/index.css */
@import "tailwindcss";

/* Regras que se aplicam a TODO o site, em TODAS as páginas */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #090F25; /* Cor de fundo base para a aplicação */
    line-height: 1.6;
}
